body {
    font-size: 1.2rem;
    padding-bottom: 15px;
}

h1 { font-size: 2.5rem; }

h2 { font-size: 2.25rem; }

h3 { font-size: 2rem; }

h4 { font-size: 1.75rem }

h5 { font-size: 1.5rem }

h6 { font-size: 1.2rem }

.btn {
    font-size: 1.2rem;
}

.navbar {
    padding: 2px 16px 2px 16px;
    margin-bottom: 20px;
}

.navbar-brand {
    padding-top: 0.33rem;
    padding-bottom: 0.33rem;
    font-size: 1.2rem;
}

.popup {
    /* do not touch this stuff */
    display: block;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0;

    /* touch this stuff instead */
    margin: auto;
    width: max-content;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .popup { display: none }
}

@media only screen and (min-width: 600px) {
    .popup { max-width: 400px }
}

@media only screen and (min-width: 800px) {
    .popup { max-width: 600px }
}

@media only screen and (min-width: 1000px) {
    .popup { max-width: 700px }
}

.popup-container {
    display: inline-block;
    position: relative;
}

.file-desc {
    padding: 0 0 10px 0;
}

.file-body {
    padding: 10px 0 0 0;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.page-header {
    padding: 0 5px 0 5px;
    margin: auto;
}

.page-header > .card-body {
    padding: 0;
    max-height: 42px;
    min-height: 42px;
}

.page-text {
    display: inline-block;
    font-size: 2rem;
}

@media only screen and (max-width: 900px) {
    .page-text { max-width: 90% }
}

@media only screen and (min-width: 900px) {
    .page-text { max-width: 95% }
}
